body {
	background: red;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#switch {
	color: inherit;
	text-decoration: inherit;
	font-size: 0.7em;
}

#top-row {
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 1%;
  color: #ffffff;
  text-shadow: 0 0 0.2em #333;
}

.row {
	display: block;
	margin: auto 0;
}

.item {
	display: inline-block;

}

.bottom {
  border: 2px solid #ffffff;
  color: #7F3320;
  padding: 2% 1% 2% 1%;
  margin: 0 auto 0.7% auto;
  background-color: #ffffff;
  border-radius: 0.3em;
  box-shadow: .2em .2em .2em #444;
  opacity: 0.7;
}