body {
	background: url("") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#top-row {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 0.2em #333;
}

#switch {
	color: inherit;
	text-decoration: inherit;
	font-size: 0.7em;
}

#switch-row {
	-webkit-flex-direction: column;
	flex-direction: column;
}

#loading {
	margin: 20px auto;
	width: 2%;
	height: 2%;
}

.row {
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 50%;
}

.item {
	display: inline-block;
}

.bottom {
  border: 2px solid #ffffff;
  color: #7F3320;
  padding: 2% 1% 2% 1%;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 0.3em;
  box-shadow: .2em .2em .2em #444;
  opacity: 0.7;
	padding: 20px;
}

#thumb img {
	margin-top: 45px;
}

.weather-container {
	background-color: rgba(253,247,239, 0.8);
	border-radius: 10px;
	border: 1px solid #fcfbe3;
	opacity: 1;
	margin: 0 auto;
	width: 60%;
}

@media all and (max-width: 700px) {
  #bottom-row {
		-webkit-flex-direction: column;
		flex-direction: column;
  }
}